/* You can add global styles to this file, and also import other style files */
body:before{
    content: " ";
    position: absolute;
    opacity: .6; 
    z-index: -1;
    background: url(./assets/background.png);
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
}